
<div class="filter-bar" style="padding:8px 0px;">
  <% if @public_data.empty? %>
    <p>Não há resultados para: "<%= params[:query] %>"</p>
  <% else params[:query]%>
    <p>Resultados para: "<%= params[:query] %>"</p>
  <% end %>
</div>
<div class="container-public-datum">
  <div class="public-datum">
    	<% @public_data.each do |dataset| %>
    		<div class="card-product rounded mb-3">

          <img src="https://via.placeholder.com/30" alt="">
          <div>
            <%= link_to public_datum_path(dataset) do %>
            <h2><%= dataset.name %></h2>
            <p><%= dataset.category %></p>
            <% end %>
          </div>
        </div>
    	<% end %>
  </div>
</div>


