<div class="container-form">
  <h1>Compartilhe dados públicos</h1>

    <%= simple_form_for @public_datum,
        wrapper: :vertical_form,
        wrapper_mappings: {
        boolean:       :horizontal_boolean,
        check_boxes:   :horizontal_collection,
        date:          :horizontal_multi_select,
        datetime:      :horizontal_multi_select,
        file:          :horizontal_file,
        radio_buttons: :horizontal_collection,
        range:         :horizontal_range,
        time:          :horizontal_multi_select
      } do |f| %>
      <%= f.input :name,
                  label: "Título",
                  :hint => "Seja  breve e preciso. ex: 'Valor Diárias Vereadores Mangaratiba' " %>
      <%= f.input :description,
                  label: "Descrição",
                  :hint => "Adicione uma breve descrição sobre o conjunto de dados, especificando o conteúdo e a data em que os dados forem recebidos do poder público." %>
      <%= f.input :category,
                  label: "Categoria" %>
      <%#= f.input :city_government_agency_id, collection: CityGovernmentAgency.all, label_method: :city_name, value_method: :id, label: "Cidade"%>
      <%#= f.association :branch, label_method: :branch_name, value_method: :id, label: "Órgão", wrapper_html: { class: "hidden", id: "branch_wrapper" } %>

      <!-- <p class="custom_label">Esfera</p>

      <%#= f.collection_radio_buttons :level,
                                     [['Municipal', 'Municipal'],
                                     ['Estadual', 'Estadual'],
                                     ['Federal', 'Federal']],
                                     :first, :last,
                                     wrapper_html: { class: 'btn btn-primary' },
                                     item_wrapper_class: :block_radio_button_collection %>
      <p class="custom_label">Poder</p>
      <%#= f.collection_radio_buttons :power,
                                      [['Executivo', 'Executivo'],
                                      ['Legislativo', 'Legislativo'],
                                      ['Judiciário', 'Judiciário']],
                                      :first, :last,
                                      input_html: { class: 'btn btn-primary' },
                                      item_wrapper_class: :block_radio_button_collection %> -->
      <%= f.association :branch, label_method: :branch_name, value_method: :id, label: "Orgão"%>
      <%= f.input :city ,
                  label: "Município" %>
      <%= f.input :state,
                  label: "Estado" %>
      <%= f.input :format,
                  label: "Formato",
                  collection: ["PDF", "CSV", "XLS", "XLSX", "HTML", "PNG", "GEOJSON", "JSON", "ODS", "TXT", "ZIP"],
                  include_blank: false,
                  include_hidden: false %>
      <%= f.input :dataset,
                  label: "Selecione o arquivo que deseja tornar público",
                  as: :file %>
      <div>
        <%= f.submit "Compartilhar dado público", class: "btn btn-primary" %>
        <%= f.submit "Cancelar", class: "btn btn-secondary" %>

      </div>
    <% end %>
</div>

