<div class="container-form">
  <h1>Compartilhe dados públicos</h1>

    <%= simple_form_for @public_datum,
        wrapper: :vertical_form,
        wrapper_mappings: {
        boolean:       :horizontal_boolean,
        check_boxes:   :horizontal_collection,
        date:          :horizontal_multi_select,
        datetime:      :horizontal_multi_select,
        file:          :horizontal_file,
        radio_buttons: :horizontal_collection,
        range:         :horizontal_range,
        time:          :horizontal_multi_select
      } do |f| %>
      <%= f.input :name,
                  label: "Título",
                  :hint => "Seja  breve e preciso. ex: 'Valor Diárias Vereadores Mangaratiba' " %>
      <%= f.input :description,
                  label: "Descrição",
                  :hint => "Adicione uma breve descrição sobre o conjunto de dados, especificando o conteúdo e a data em que os dados forem recebidos do poder público." %>
      <%= f.input :category,
                  label: "Categoria" %>
      <%= f.collection_radio_buttons :level,
                                     [['Municipal', 'Municipal'],
                                     ['Estadual', 'Estadual'],
                                     ['Federal', 'Federal']],
                                     :first, :last,
                                     wrapper_html: { class: 'btn btn-primary' } %>
      <%= f.collection_radio_buttons :power,
                                      [['Executivo', 'Executivo'],
                                      ['Legislativo', 'Legislativo'],
                                      ['Judiciário', 'Judiciário']],
                                      :first, :last,
                                      input_html: { class: 'btn btn-primary' } %>
      <%= f.association :branch, label_method: :branch_name, value_method: :id, label: "Orgão"%>
      <%= f.input :city ,
                  label: "Município" %>
      <%= f.input :state,
                  label: "Estado" %>
      <%= f.input :format,
                  label: "Formato" %>
      <%= f.input :dataset,
                  label: "Selecione o arquivo que deseja tornar público",
                  as: :file %>
      <div>
        <%= f.submit "Tornar Dados Público", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
</div>

