<div class="container-show">
		<h1><%= @public_datum.name %></h1>
		<h3>Município: <%= @public_datum.city %></h3>

		<br>
		
		<p class="category-box"><%= @public_datum.power %></p>
		<p class="category-box"><%= @public_datum.category %></p>
		

	
		<h3>Descrição dos Dados</h3>
		<p><%= @public_datum.description %></p>

		
		<div class= "container-buttons">
			<p class="category-box"><%= @public_datum.format %></p>
			<%= link_to "Download dos Dados", "#" , class: "btn btn-primary btn-lg"%>
		</div>
</div>

