<div class="nav-block">
  <div class="navbar navbar-replai">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
      <ul class="navbar-menu">
          <!-- <li>
            <%= link_to "Inicio", "#", class: "nav-link" %>
          </li> -->
          <li>
            <%= link_to "Sobre a LAI", sobre_a_lai_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Pesquisar dados", public_data_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Compartilhar dados", new_public_datum_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Criar pedido LAI", new_lai_request_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Meus pedidos", lai_requests_path, class: "nav-link" %>
          </li>
          <!-- <li>
          <i class="fas fa-search fas-7px"></i>
        </li> -->
      </ul>
    <!-- </div> -->
  </div>
</div>
