
<h1 class="dashboard-head"><span class="text-secondary">Olá, <%= current_user.first_name %></span><br></h1>
<div class="container-user-dashboard">
  <div>
    <% @lai_requests.each do |request| %>
        <%= link_to lai_request_path(request), style: "text-decoration:none;" do %>
          <div class="dashboard-card hvr-grow">
            <div>
              <h4><%= request.title %></h4>
              <p>Categoria - <%= request.category %></p>
              <% if request.deadline %>
                <p>Deadline - <%= request.deadline.strftime("%d/%m/%Y") %></p>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
