<h1 class="dashboard-head"><span class="text-secondary">Olá, <%= current_user.first_name %>! Esses são seus pedidos:</span><br></h1>
<!-- <div class="container-user-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1461360228754-6e81c478b882?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80); background-size: cover; background-position: center;"> -->
<div class="container-user-dashboard">
  <div class="row">
    <% @lai_requests.each do |request| %>
      <div class="col-12">
        <%= link_to lai_request_path(request), style: "text-decoration:none;" do %>
          <div class="dashboard-card hvr-grow">
            <h4><%= request.title.truncate(70) %></h4>
            <p><%= request.branch.city_government_agency.city_name %></p>
            <div style="display: flex; justify-content: space-between;">
              <p><span style="font-weight: bold;">Categoria:</span> <%= request.category %></p>
              <% if request.deadline %>
                <p>Prazo - <%= request.deadline.strftime("%d/%m/%Y") %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
