<div class="container-form">
  <h1>Faça seu pedido de acesso à informação</h1>

    <%= simple_form_for @lai_request,
        wrapper: :vertical_form,
        wrapper_mappings: {
        boolean:       :horizontal_boolean,
        check_boxes:   :horizontal_collection,
        date:          :horizontal_multi_select,
        datetime:      :horizontal_multi_select,
        file:          :horizontal_file,
        radio_buttons: :horizontal_collection,
        range:         :horizontal_range,
        time:          :horizontal_multi_select
      } do |f| %>
      <%= f.input :title,
                  label: "Título",
                  :hint => "Seja  breve e preciso. ex: 'Valor Diárias Vereadores Mangaratiba' " %>
      <%= f.input :city_government_agency_id, collection: CityGovernmentAgency.all, label_method: :city_name, value_method: :id, label: "Cidade"%>
      <%= f.association :branch, label_method: :branch_name, value_method: :id, label: "Orgão", wrapper_html: { class: "hidden", id: "branch_wrapper" } %>
      <%= f.input :description,
                  label: "Descrição",
                  :hint => "Adicione uma breve descrição sobre o conjunto de dados que você quer solicitar, especificando o conteúdo e a data em que os dados forem recebidos do poder público." %>
      <%= f.input :category,
                  label: "Categoria",
                  collection: LaiRequest::CATEGORIES %>
      <%= f.input :anonymity, label: "repLAI anônimo?", :as => :boolean %>
      <%= f.input :format,
                  label: "Formato do arquivo" %>
      <%= f.submit "Finalizar pedido", class: "btn btn-primary" %>
      <%= f.submit "Cancelar", class: "btn btn-secondary" %>
    <% end %>
</div>


