<% if @lai_request.status == "Editando" %>
  <h2>Seu LAIRequest: revise antes de enviar.</h2>
<% else %>
  <h2>Esse é seu LAIRequest enviado.</h2>
<% end %>

<p> Status: <%= @lai_request.status %> </p>
<p> <%= @lai_request.deadline %> </p>


<p> <%= @lai_request.title %> </p>
<p><%= @lai_request.category %> </p>
<p> <%= @lai_request.city_government_agency.city_name %> </p>
<p> <%= @lai_request.city_government_agency.website %> </p>
<p> <%= @lai_request.city_government_agency.email_executive %> </p>
<p> <%= @lai_request.city_government_agency.email_legislative %> </p>
<p> <%= @lai_request.city_government_agency.twitter_executive %> </p>
<p> <%= @lai_request.city_government_agency.twitter_legislative %> </p>
<p> <%= @lai_request.description %> </p>
<p> <%= @lai_request.format %> </p>

<%= link_to "Envie", submit_lai_request_path, method: :patch  %>



<h2>MODELO DE PEDIDO DE INFORMAÇÃO CONFORME LEI 12.527</h2>
<p><%= @lai_request.city_government_agency.city_name %>, <%= Time.now.strftime("%d/%m/%Y") %> </p>
<p> <%= @lai_request.city_government_agency.branch %>, <%= @lai_request.city_government_agency.city_name %> </p>

<p>Prezada Autoridade Responsável,</p>

<%= unless @lai_request.anonymity == true %>
  <p> <%= @lai_request.user.name %>, inscrito </p>,
<%= end %>



[NOME DA ORGANIZAÇÃO OU INDIVÍDUO], inscrito(a) no [RG e/ou
CPF // CNPJ/MF] sob o número [XXXX], por seu/sua representante legal, [XXXX  EM CASO DE PESSOA
JURÍDICA], [RG e/ou CPF DO REPRESENTANTE LEGAL], com base no artigo 5º (XXXIII) da Constituição
Federal e nos artigos 10, 11 e 12 da Lei nº 12.527/2011  a Lei Geral de Acesso a Informações Públicas
, dirige-se respeitosamente a Vossa Senhoria, com o objetivo de apresentar o seguinte
REQUERIMENTO DE INFORMAÇÕES
relacionadas a [XXXX  informação requerida - XXXX].
1. O Requerente solicita saber [XXXX  informação  XXXX]
OU
1. O Requerente solicita o acesso a [todos] os documentos relacionados a [XXXX  informação
requerida  XXXX], incluindo  mas não se limitando a  as seguintes informações:
a. [DESCRIÇÃO DETALHADA, CLARA, PRECISA E OBJETIVA DA INFORMAÇÃO OU NOME DO
DOCUMENTO]
b. [ XXXX ]
2. Em cumprimento ao artigo 11 da Lei no
12.527, de 18 de novembro de 2011, o acesso às informações
requisitadas deve ser imediato. Não sendo possível o acesso imediato, a resposta, em conformidade
com o referido artigo, deve ser expedida no prazo máximo de 20 (vinte) dias, contados do protocolo
deste Requerimento junto a este(a) [XXXX  nome do órgão - XXXX]. Para o recebimento da resposta,
comunico o seguinte endereço [ XXXX  ELETRÔNICO OU FÍSICO  XXXX].
Atenciosamente,
___________________________
IDENTIFICAÇÃO DO REQUERENTE
