<div class="container-form">
  <div class="lai-request">
    <h2><%= @lai_request.title %></h2>
    <% if @lai_request.status == "Editando" %>
    <div class="alert-lai">
      <strong>Revise</strong> seu pedido de acesso à informação antes de enviar.
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <% else %>
    <div class="alert-lai">
      Esse é seu seu pedido de acesso à informação enviado.
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <% end %>

    <h3><span class="badge badge-pill badge-secondary">Status:</span>    <%= @lai_request.status %></h3>
    <% unless @lai_request.status == "Editando" %>
      <h3><span class="badge badge-pill badge-secondary">Prazo:</span>   <%= @lai_request.deadline.strftime("%d/%m/%Y") %></h3>
    <% end %>
    
    <h3><span class="badge badge-pill badge-secondary">Descrição do pedido:</span></h3>
    <p ><%= @lai_request.description %></p>

    <h3><span class="badge badge-pill badge-secondary">Município:</span>   <%=@lai_request.branch.city_government_agency.city_name%></h3>
    <h3><span class="badge badge-pill badge-secondary">Órgão:</span>   <%= @lai_request.branch.branch_name  %> </h3>
    <h3 style="padding-bottom: 16px;"><span class="badge badge-pill badge-secondary">Formato:</span>    <%= @lai_request.format %></h3>

    <div style="display:flex;  justify-content: space-between;">
      <div style="text-align: left; font-size:32px; color: white;">
        <%= link_to lai_requests_path do %>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>

      </div>
      <div style= "text-align: right">
        <% if @lai_request.status == "Editando" %>
        <% if policy(@lai_request).edit? %>
          <% if policy(@lai_request).destroy? %>
          <%= link_to @lai_request, method: :delete, data: { confirm: 'Are you sure?'} do %>
            <i class="fas fa-trash-alt" style="color:black;"></i>
          <% end %>
          <%= link_to edit_lai_request_path(@lai_request), class: "far fa-edit mb-1 mr-2", :style=>"color:black;" do %>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
        <% if @lai_request.status == "Editando" %>
          <%= link_to submit_lai_request_path, method: :patch, class: "btn btn-primary btn-lg no-print" do %>
            Envie sua solicitação
          <% end %>
        <% else %>
          <%= link_to submit_lai_request_path( view: 'visualizar' ), class: "btn btn-primary btn-lg no-print" do %>
            Ver minha solicitação
          <% end %>
        <% end %>
      </div>

    </div>


  </div>

</div>

