Olá <%= @first_name %>,
<p><br></p>
  
Tudo bem? 

<p><br></p>
O pedido de acesso à informção referente a <%= @lai_request.title.upcase %> foi enviado com sucesso a <%= @lai_request.branch.branch_name %> - <%= @lai_request.branch.city_government_agency.city_name %>. O órgão tem até 20 dias para lhe responder. Caso não receba nenhuma responta após os 20 dias, você pode apresentar um recurso à autoridade superior.
<p><br></p>	

Recebeu os dados? Compartilhe com o Brasil todo através do repLAI contribuindo para transparência das informações públicas!
<p><br></p>	

Obrigado por usar o repLAI. 
<p><br></p>
	
Abraços,
<p><br></p>
	
<h4>repLAI</h4>
<p>facilitando o acesso aos dados públicos</p>
<p><%= link_to "@replaireplai", "https://twitter.com/replaireplai" %></p>  

